extends layout

include mixins/_ratingForm
include mixins/_milestoneSelector
include mixins/_commentForm

block content
    .inner
        .subheader
            .subheader__back
                a(href=`/features`)
                    != h.icon('arrow_back')
            .subheader__text
                .subheader__text--title= title
            a.subheader__text--edit(href=`/features/${feature._id}/edit`)
                    != h.icon('pencil')
        .subheader__text--subtitle= feature.description
    .single__details.inner
        .single__content
            .review__header
                .review__workflow= 'Workflow'
                .review__meta= 'Rating'
                .review__milestone= 'Milestone'
                .review__comment= 'Comment'
            each workflow in workflows
                .review__row
                    .review__workflow #{workflow.name}
                    - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                    +ratingForm(feature, workflow, review)
                    +milestoneSelector(feature, workflow, milestones, review)
                    +commentForm(feature, workflow, review)