extends layout

include mixins/_ratingForm
include mixins/_milestoneSelector
include mixins/_commentForm
include mixins/_updateFeatureForm

block content
    .inner
        .subheader
            .subheader__back
                a(href=`/features`)
                    != h.icon('arrow_back')
            .subheader__text
                .subheader__text--title
                    input.feature__name(type="text" name="name" value=feature.name data-feature=feature._id)
    .single__details.inner
        .single__content
            + updateFeatureForm(feature)
    .single__details.inner
        .single__content
            .review__header
                .review__workflow= 'Workflow'
                .review__meta= 'Rating'
                .review__milestone= 'Milestone'
                .review__comment= 'Comment'
            each workflow in workflows
                .review__row
                    .review__workflow #{workflow.name}
                    - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                    +ratingForm(feature, workflow, review)
                    +milestoneSelector(feature, workflow, milestones, review)
                    +commentForm(feature, workflow, review)