mixin featureListItem(feature, workflows)
    .listitem
        .listitem__main
            .listitem__rank
                - const isreadonly = !h.isUserManager(user);
                input.feature__rank(type="number" name="stackrank" value=feature.stackrank data-feature=feature._id readonly=isreadonly)
            .listitem__content
                .listitem__content--title
                    - const dependencyClass = feature.dependency ? "dependency" : "";
                    a(href=`/feature/${feature.slug}` class=dependencyClass) #{feature.name}
                    if feature.dependency || false
                        .listitem__content--label.purple
                            div dependency
                    if feature.targetMilestone || false
                        .listitem__content--label.purple
                            div #{feature.targetMilestone.name}
                .listitem__content--text
                    div #{feature.description}
                .listitem__content--chart
                    each workflow in workflows
                        - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                        - const stage = h.getStage(review); 
                        - const tooltip = h.reviewTooltip(workflow, review);
                        a.listitem__content--cell(class=`color${stage}` href=`/feature/${feature.slug}` data-tooltip=tooltip)
                            .listitem__content--stars
                                - const maxStars = feature.targetMilestone ? (feature.targetMilestone.order - 1) : 6;
                                if !review || !review.milestone
                                    = 'Not Reviewed'
                                else if review.milestone.order > 1
                                    = `★`.repeat(review.milestone.order-1)
                                    = `☆`.repeat(maxStars-(review.milestone.order-1))
                                else
                                    = 'N/A'
        .listitem__side
            .listitem__info
                a(href=`/feature/${feature.slug}` data-tooltip=feature.cost ? feature.cost.description : 'Cost Not Set')
                    .listitem__info--entry.listitem__info--cost
                        if !feature.cost
                            = "---"
                        else
                            = feature.cost.shortName
                - const sentimentClass = feature.sentiment ? `sentiment${feature.sentiment.order}` : '';
                a(href=`/feature/${feature.slug}` data-tooltip=feature.sentiment ? feature.sentiment.name : 'Not Set')
                    .listitem__info--entry.listitem__info--sentiment(class=sentimentClass)
                        if !feature.sentiment
                            = "N/A"
                        else
                            != h.getSentimentIcon(feature.sentiment)
                a(href=`/feature/${feature.slug}` data-tooltip=feature.growth ? feature.growth.name : 'Not Set')
                    .listitem__info--entry.listitem__info--growth
                        if !feature.growth
                            = "N/A"
                        else if feature.growth.order > 1
                            = `＄`.repeat(feature.growth.order-1)
                        else
                            = "---"
                if h.isUserManager(user)
                    .listitem__actions
                        .listitem__action.listitem__action--edit
                            a(href=`/feature/${feature.slug}` data-tooltip='edit')
                                != h.icon('edit')
