mixin featureListItem(feature, workflows)
    .listitem
        .listitem__body
            .listitem__rank
                form.rank(method="POST" action=`/api/v1/feature/${feature._id}/rank`)
                    input(type="number" name="stackrank" value=feature.stackrank)
                    input(type="submit" style="visibility: hidden;")
            div
                .listitem__body--title
                    a(href=`/feature/${feature.slug}` data-tooltip=feature.description) #{feature.name}
                .listitem__body--text
                    div #{feature.description}
                .listitem__body--chart
                    each workflow in workflows
                        - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                        - const stage = h.getStage(review); 
                        .listitem__body--cell(class=`color${stage}`)
                            .listitem__body--stars
                                if !review || !review.milestone
                                    = 'Not Reviewed'
                                else if review.milestone !== 0
                                    = `★`.repeat(review.milestone.order-1)
                                    = `☆`.repeat(6-(review.milestone.order-1))
                                else
                                    = 'N/A'
        .listitem__actions
            .listitem__action.listitem__action--edit
                a(href=`/features/${feature._id}/edit`)
                    != h.icon('edit')
