mixin featureListItem(feature, workflows)
    .listitem
        .listitem__body
            .listitem__rank
                input.feature__rank(type="number" name="stackrank" value=feature.stackrank data-feature=feature._id)
            div
                .listitem__body--title
                    a(href=`/feature/${feature.slug}`) #{feature.name}
                .listitem__body--text
                    div #{feature.description}
                .listitem__body--chart
                    each workflow in workflows
                        - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                        - const stage = h.getStage(review); 
                        - const tooltip = h.tooltip(workflow, review);
                        a.listitem__body--cell(class=`color${stage}` href=`/feature/${feature.slug}` data-tooltip=tooltip)
                            .listitem__body--stars
                                if !review || !review.milestone
                                    = 'Not Reviewed'
                                else if review.milestone.order > 1
                                    = `★`.repeat(review.milestone.order-1)
                                    = `☆`.repeat(6-(review.milestone.order-1))
                                else
                                    = 'N/A'
        .listitem__actions
            .listitem__action.listitem__action--review
                a(href=`/feature/${feature.slug}` data-tooltip='review')
                    != h.icon('review')
            .listitem__action.listitem__action--edit
                a(href=`/features/${feature._id}/edit` data-tooltip='edit')
                    != h.icon('edit')
