mixin ratingForm(feature,workflow,review)
    .review__meta
        .review__stars
            each rating in h.ratings
                form.star(method="POST" action=`/api/v1/feature/${feature._id}/review/rating`)
                    - const starClass = (review &&  review.rating >= rating.value) ? 'star__button--starred' : '';
                    div(data-tooltip=rating.description)
                        input(type="hidden" name="workflow" value=workflow._id)
                        button.star__button(type="submit" name="star" value=rating.value disabled=!h.isUserManager(user) class=starClass)
                            != h.icon('heart')
